jieba==0.42.1
jsonlines==4.0.0
ollama==0.6.1
pydantic==2.12.4
PyYAML>=6.0
rank_bm25==0.2.2
tqdm==4.67.1
pysbd==0.3.4
rouge
pyserini
openai>=1.0.0,<2.0.0
FlagEmbedding
numpy
requests
nltk



# Core dependencies
faiss-cpu
jsonlines
tqdm
PyYAML
pydantic
numpy
openai
pysbd
rank_bm25
pyserini

# NLP
jieba
nltk
rouge
rouge-chinese

# Ollama
ollama

# LangChain (for chunking)
langchain-experimental
langchain_ollama
langchain-text-splitters

# LlamaIndex (for retrieval)
llama-index-core

llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-postprocessor-flag-embedding-reranker

# For Reranker
accelerate
datasets
scikit-learn
sentencepiece
sentence-transformers
torch
transformers
peft
protobuf
